-
  const completeVariants = [
    { name: 'База', note: 'Подходит для большинства клиентов' },
    { name: 'Мастер', note: 'Надо брать' },
    { name: 'Полный фарш', note: 'Для истинных ценителей удобной и надежной техники' }
  ]

  const completeParams = [
    { img: '', name: 'Термокамера', values: [90], step: '', min: '', max: '', unit: 'л', price: '' },
    { img: '', name: 'Дымогенератор', values: [1], step: '', min: '', max: '', unit: 'шт', price: '' },
    { img: '', name: 'Парогенератор', values: [1], step: '', min: '', max: '', unit: 'шт', price: '' },
    { img: '', name: 'Компрессор', values: [1], step: '', min: '', max: '', unit: 'шт', price: '' },
    { img: '', name: 'Ёмкость для сбора конденсата со шлангом', values: [1], step: '', min: '', max: '', unit: 'шт', price: '' },
    { img: '', name: 'Термощуп для продукта', values: [1], step: '', min: '', max: '', unit: 'шт', price: '' },
    { img: '', name: 'Термодатчик', values: [1], step: '', min: '', max: '', unit: 'шт', price: '' },
    { img: '', name: 'Решётка для продукта', values: [5], step: '', min: '', max: '', unit: 'шт', price: '' },
    { img: '', name: 'Крючок для подвешивания продукта', values: [36], step: '', min: '', max: '', unit: 'шт', price: '' },
    { img: '', name: 'Поддон для сбора жира', values: [2], step: '', min: '', max: '', unit: 'шт', price: '' },
    { img: '', name: 'Компенсаторы потока дыма и пара', values: [2], step: '', min: '', max: '', unit: 'шт', price: '' },
    { img: '', name: 'Шпагат джутовый', values: [50], step: '', min: '', max: '', unit: 'шт', price: '' },
    { img: '', name: 'Концентрат моющего средства', values: [100], step: '', min: '', max: '', unit: 'шт', price: '' },
    { img: '', name: 'Щепа ольховая', values: [2], step: '', min: '', max: '', unit: 'шт', price: '' },
    { img: '', name: 'Заслонка для наружного выхода дыма и пара', values: [0], step: '', min: '', max: '', unit: 'шт', price: '' },
    { img: '', name: 'Заслонка входа дыма наружная', values: [0], step: '', min: '', max: '', unit: 'шт', price: '' },
    { img: '', name: 'Холодильник для дыма', values: [0], step: '', min: '', max: '', unit: 'шт', price: '' },
    { img: '', name: 'Вытяжное устройство', values: [0], step: '', min: '', max: '', unit: 'шт', price: '' },
    { img: '', name: 'Улучшенное дно термокамеры', values: [0], step: '', min: '', max: '', unit: 'шт', price: '' },
    { img: '', name: 'Автоматическая заслонка', values: [1], step: '', min: '', max: '', unit: 'шт', price: '' },
    { img: '', name: 'Передвижной поддон', values: [0], step: '', min: '', max: '', unit: 'шт', price: '' },
    { img: '', name: 'Форма для мяса', values: [0], step: '', min: '', max: '', unit: 'шт', price: '' }
  ]

.complete(data-element="complete")
  .complete__cont.cont
    h2.complete__title.title
      | КОМПЛЕКТАЦИЯ
    ul.complete__variants
      each variant, index in completeVariants
        li.complete__variants-item(class=!index ? 'complete__variants-item_active':'', data-element="complete__variants-item", data-variant=index)
          span.complete__variants-name.text-big= variant.name
          span.complete__variants-note= variant.note
          span.complete__variants-price +14 665
    .complete__area
      .complete__picture
        img.complete__image(src="https://via.placeholder.com/466x894", loading="lazy")
      ul.complete__params
        each param, index in completeParams
          li.complete__param
            picture.complete__param-picture
              img.complete__param-image(src=`https://via.placeholder.com/64?text=${index + 1}`, loading="lazy")
            .complete__param-title
              span.complete__param-name= param.name
            .complete__param-value
              span.complete__param-count= param.values[0]
                .complete__param-button.complete__param-button_down
            span.complete__param-unit= param.unit
              .complete__param-button.complete__param-button_up
            //span.complete__param-price +26 775
